<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="About Mayank!">
        <meta name="author" content="Mayank Kanti">
        <title>About me!</title>
        <!-- Bootstrap core CSS -->
        <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="static/about.css" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div id="tsparticles" style="position: fixed; width: 100%; height: 100%; z-index: 0;"></div>
            <div class="site-wrapper-inner">
                <div class="cover-container" style="position: relative">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Mayank&apos;s Basement</h3>
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link active" href="#">About</a>
                                <a class="nav-link" href="mailto:<mail_here>">Contact</a>
                            </nav>
                        </div>
                    </div>
                    <div class="inner cover">
                        <h1 class="cover-heading">Hi I&apos;m Mayank.</h1>
                        <p class="lead">Hi! I&rsquo;m Mayank, a Computer Science Engineering student with a strong passion for coding and exploring new technologies. Beyond coding, I enjoy listening to music from around the globe, finding inspiration in its creativity and diversity.<br><br>It&rsquo;s great to have you here!</p>
                        <hr style="border: .5px solid #ccc; width: 10%; margin: 20px auto;">
                        <p> <a href="<linkedin_link>" target="_blank">LinkedIn</a> | <a href="<github_link>" target="_blank">GitHub</a> | <a href="discord_link" target="_blank">Discord</a> | <a href="<twitter_link>" target="_blank">Twitter</a> </p>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Made with love by <b>@Mayank</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/popper.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <!-- Markdown Script -->
        <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
        <!-- TsParticle Script -->
        <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.0.6/tsparticles.bundle.min.js"></script>
        <script src="static/particles/js/particle.js"></script>
    </body>
</html>